@import '../settings/_colors.sass';
@import '../settings/_sizes.sass';

.balance {
    width: 100%;
    position: relative;
    padding: $p-1;
    margin-top: $m-3;
    background: $green;
    color: $white;

    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 4px;
    
    font-size: $f-1;
    font-weight: bold;
    text-align: center;

    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;

}

.sticky {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    border-radius: 0px;
}