@import '../settings/_colors.sass';
@import '../settings/_sizes.sass';

.footer {
    background-color: $white;
    height: 100px;

    padding: $p-1;
    
    .footer__made {
        font-size: $f-3;
        text-align: center;
    }

    .footer_copy {
        font-size: $f-3;
        text-align: center;
        font-weight: bold;
    }
}