@import '../settings/_colors.scss';
@import '../settings/_sizes.scss';

.navbar {
    background-color: $white;
    height: 100px;
    margin-bottom: $m-1;
    
    a {
        text-decoration: none;
        color: $black;
        font-weight: bold;
        font-size: $f-2;
    }
}